body{
  background-color: #2F2E2B;
  color: white;
}
.logo{
  width: 20vw;
}

/*
Form
*/
.form-control{
  background-color: #242321;
  border-radius: 17px;
  border-color: #958F7E;
  color: white;
}

/*
Button
*/
.btn{
  color: #CECECE;
}
.btn-secondary{
  background-color: #958F7E;
  border-color: #958F7E;
}
.btn-outline-secondary{
  margin-left: 10px;
  border-color: #958F7E;
}

/*
Card
*/
.card{
  font-size: 13px;
  color: white;
  background-color: #242321;
}

/*
Map
*/
body {
  margin: 0;
  padding: 0;
}

#map {
    position:relative;
    top: 0;
    bottom: 0;
    width: 100%;
}