@font-face {
  font-family: 'Lora';
  src:url('./fonts/Lora-VariableFont_wght.ttf') format('truetype'); 
  font-family: 'Inter';
  src:url('./fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype'); 
}
body{
  background-color: #2F2E2B;
  color: white;
  font-family: 'Inter',sans-serif;
}
h1{ 
  font-family:'Lora';
  font-size:2rem;
}
.logo{
  width: 4rem;
}
.h6{
  color: #958F7E;
}
p{
  color: #CECECE;
}
section{
  margin-left: 1rem;
}

/*
Form
*/
.form-control{
  background-color: #242321;
  border-radius: 1rem;
  border-color: #958F7E;
  color: white;
}

/*
Button
*/
.btn{
  color: #CECECE;
}
.btn-secondary{
  background-color: #6D695E;
  border-color: #6D695E;
}
.btn-outline-secondary{
  margin-left: 1rem;
  border-color: #6D695E;
}

/*
Card
*/
.card{
  font-size: 0.8rem;
  color: white;
  background-color: #242321;
}

/*
Map
*/
body {
  margin: 0;
  padding: 0;
}
#map {
    position:relative;
    top: 0;
    bottom: 0;
    width: 100%;
}